body {
	margin: 0;
}


.converter {
	background-image: linear-gradient(
	45deg,
	hsl(240deg 100% 20%) 0%,
	hsl(289deg 100% 21%) 11%,
	hsl(315deg 100% 27%) 22%,
	hsl(329deg 100% 36%) 33%,
	hsl(337deg 100% 43%) 44%,
	hsl(357deg 91% 59%) 56%,
	hsl(17deg 100% 59%) 67%,
	hsl(34deg 100% 53%) 78%,
	hsl(45deg 100% 50%) 89%,
	hsl(55deg 100% 50%) 100%
	);
	color: white;
	width: 600px;
	text-align: center;
	padding: 15px;
}

.converter p {
	font-size: 64px;
}

.results {
	background-image: linear-gradient(
	45deg,
	hsl(0deg 0% 0%) 0%,
	hsl(343deg 0% 6%) 11%,
	hsl(344deg 0% 10%) 22%,
	hsl(344deg 0% 14%) 33%,
	hsl(344deg 0% 18%) 44%,
	hsl(344deg 0% 22%) 56%,
	hsl(344deg 0% 27%) 67%,
	hsl(344deg 0% 31%) 78%,
	hsl(344deg 0% 36%) 89%,
	hsl(0deg 0% 40%) 100%
	);
	text-align: center;
	width: 600px;
	padding: 25px 15px;
	color: white;
}